.main-container
{
    margin: 50px;
}
.min-height-600{
min-height: 600px;
}
.no-flex-wrap{
    flex-wrap: inherit !important;
}
.circular-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; 
  }
  .custom-h6 {
    font-family: cursive;
  }