<div class="row mb-1 mr-0  custom-border">
    <div class=" col-md-1 custom-border-right p-1 text-center  mb-1 mt-1">
    
            <img src="prod1.jpg" alt="Product Image" width="50px" height="50px">

    </div>

    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="mr-2"><i class="fas fa-info-circle blue-color" ></i>
                    code article : 
                </div>
               
               
            </div>
            <div class="row">
                <div class="mr-2"><i class="fa-solid fa-circle-info blue-color " ></i>
                    
                    désignation :
                </div>

             
            </div>
            <div class="row">
                <div class="mr-2"><i class="fa-solid fa-dollar-sign blue-color"></i>
                    prix HT:
                </div>

            </div>
            <div class="row">
                <div class="mr-2"><i class="fa-solid fa-dollar-sign blue-color"></i>
                     prix TTC:
                </div>
              
            </div>

        </div>
    </div>

    <div class="col-md-3 custom-border-right  mb-1 mt-1">
        <div class="row ">
            <div class="col-md-2">
                <i class="fa-solid fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12"> code catégorie</div>
                    <div class="col-md-12"> description catégorie</div>


                </div>
   
            </div>

        </div>
    </div>

    <div class="col-md-3  mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link ">
                <i class="fas fa-pencil-alt"></i>&nbsp;
                Modifier
            </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link ">
                    <i class="fas fa-trash-alt"></i>&nbsp;
                Supprimer
            </button>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-link">
                <i class="fas fa-list-alt"></i>&nbsp;
                détails</button>
            </div>
        </div>
    </div>
  </div>
  