

<div class="container my-container">
    <div class="card justify-content-md-center ">
        <div class="card-body">
            <div class="card-header text-center">
               <h3>S'inscrire </h3> 
              </div><br/>
            <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Nom">
              </div>
              <div class="mb-3">
                <input type="number" class="form-control"  placeholder="Code fiscal">
              </div>
              <div class="mb-3">
                <input type="emai" class="form-control"  placeholder="E-mail">
              </div>
              <div class="mb-3">
                <input type="text"  class="form-control"  placeholder="Adresse1">
              </div>
              <div class="mb-3">
                <input type="text"  class="form-control"  placeholder="Adresse2">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Ville">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Code Postal">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control"  placeholder="Pays">
              </div>
           
            
              <div class="mb-3">
                <input type="passwor"  class="form-control"  placeholder="Mot de passe ">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control"  placeholder="comfirmer mot de passe ">
              </div>


              <div class="mb-3 d-flex justify-content-between ">
             
                <a  href="login" class="btn btn-link">Se connecte</a> 
                <button type="button" class="btn btn-primary">
                    <i class="fas  fa-check"></i>&nbsp; S'inscrire
                    </button> 
                   
      
            </div>
          </div>
    
      </div>
    </div>